<% include ../partials/header %>

<div class="container mt-5">
    <h1>Index page (DEVELOPMENT ONLY)</h1>
    <% articles.forEach(function(article){ %>
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="thumbnail-left" src="<%= article.image %>" height="100px">
            </div>
            <div class="col-md-8">
                <h5><%= article.title %></h5>
                <p class="text-muted m-0"><em><%= article.subtitle %></em></p>
                <p class="m-0"><%- article.body.substring(0,70) %>...</p>
            </div>
            <div class="col-md-2">
                <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger"><i class="fas fa-trash"></i></button>
                    <a href="/articles/<%= article._id %>/edit" class="btn btn-xs btn-success"><i class="fas fa-pen"></i></a>
                </form>
            </div>
        </div>
        <hr>
    <% }); %>
</div>

<% include ../partials/footer %>