<% include ../partials/header %>

<div class="container">
    <h1>Index page (DEVELOPMENT ONLY)</h1>
    <% articles.forEach(function(article){ %>
        <div class="card mb-5">
            <a href="/articles/<%= article._id %>"><img class="card-img-top" src="<%= article.image %>"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="/articles/<%= article._id %>"><strong><%= article.title %></strong></a></h5>
                <h6 class="card-subtitle text-muted"><em><%= article.subtitle %></em></h6>
                <p class="card-text"><%- article.body.substring(0,100)%>...</p>
                <h6 class="card-subtitle mb-2">By <%= article.author.name %></h6>
                <a href="/articles/<%= article._id %>">Read More...</a>
                
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>